
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 64px 600px auto auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "... section-2 ..."
    "... section-1 ..."
    "... section-3 ..."
    "... footer ...";

}


nav {
    grid-area: nav;

}

header {
    grid-area: header;

}
.section-3 {
    grid-area: section-3;
}

footer {
    grid-area: footer;


}